requests
python-dotenv
mysql-connector-python
pandas
pyarrow
lightgbm
mlflow
scikit-learn
streamlit==1.45.1
beautifulsoup4
lxml
pymongo
chromadb==1.5.9
google-genai
numpy
umap-learn
plotly
nbformat
fpdf2
polyline